// Here you can add other styles
.card-header-actions {
    margin-right: unset !important;
}

a.pos-table-link{
    text-decoration: none;
}

td.tb-action svg{
    cursor: pointer;
}

td.discount-td{
    padding: 0.1rem !important;
}

td.discount-td select{
    width: 45% !important;
}

.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #3c4b64;
    box-shadow: 0 20px 75px rgba(0, 0, 0, 0.23);
    color: #fff;
}

.custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
}

@media print {
    // table.table {
    //     width: 28%;
    //     margin:0 auto;
    // }
    div.justify-content-center{
        width: 30%;
        margin:0 auto;
    }
  }